---
import { getCollection } from "astro:content";
// import { getYextDocument } from "../../adapter/index";
import Layout from '../layouts/Layout.astro';

const document = import.meta.env.DEV
		? (await getCollection('localData', ({data}) => {
			return data?.__?.name === Astro.url.pathname
		}))[0].data
		: Astro.locals.yextDocument

// const getCollection = () => {}
// const document = await getYextDocument(Astro, getCollection);
// const document =  {name: "hi", primaryPhoto: {image: {url: "hi"}}, richTextDescriptionV2: {html: "hi"}}
---

<Layout title="Welcome to a Product">
	<main>
		<h1>{document.name}</h1>

		<div class="w-full flex justify-center mb-4">
			<img width="400px" src={document.primaryPhoto.image.url} alt="">
		</div>

		<div class="description" set:html={document.richTextDescriptionV2.html} />
	</main>
</Layout>

<style>
	main {
		margin: auto;
		padding: 1rem;
		width: 800px;
		max-width: calc(100% - 2rem);
		font-size: 20px;
		line-height: 1.6;
	}
	h1 {
		font-size: 4rem;
		font-weight: 700;
		line-height: 1;
		text-align: center;
		margin-bottom: 1em;
	}

	.description * {
		color: white !important;
	}
</style>
